<div class="flex flex-row items-start">

  <apd-datepicker
    [calendarType]="calendarType"
    [darkMode]="darkMode"
    [primaryColor]="primaryColor"
    [calendarMode]="calendarMode"
    (onDateSelect)="onDateSelect($event)"
  >

  </apd-datepicker>
  <div dir="auto" class="flex flex-col my-10">
    <div class="flex flex-col gap-2 ">
      <label class="text-sm">تاریخ خروجی</label>
      <input #input
             [ngModel]="selectedDate"
             class="!border !outline-none px-2 border-primary rounded !h-10 font-sans_en"
             (keydown.enter)="onDateChange(input.value)">
    </div>
    <div class="mt-6 flex flex-col gap-2">
      <label class="text-sm">فرمت تاریخ (بعد از تغییر enter را بزنید)</label>
      <input [ngModel]="format"
             class="!border !outline-none px-2 border-primary rounded !h-10"
             #inputFormat
             (keydown.enter)="onDateFormatChange(inputFormat.value)">
    </div>

    <div class="mt-6 flex flex-col gap-2">
      حالت تاریک
      <label class="text-sm switch">
        <input [(ngModel)]="darkMode" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>

    <div class="mt-6 flex flex-col gap-2">
      حالت راست به چپ
      <label class="text-sm switch">
        <!--                <input [(ngModel)]="dateService.config.rtl" type="checkbox">-->
        <span class="slider round"></span>
      </label>
    </div>

    <div class="mt-6 flex flex-col gap-2">
      <label class="text-sm">انتخاب رنگ</label>
      <input
        (colorPickerChange)="onColorChanges($event)"
        [(ngModel)]="primaryColorChange"
        class="!border !outline-none px-2 border-primary rounded !h-10"
        [(colorPicker)]="primaryColorChange"/>
    </div>

    <div class="mt-6 flex flex-col gap-2">
      <label class="text-sm">انتخاب نوع تقویم</label>
      <select
        #calendarTypeInput
        (change)="onCalendarTypeChange(calendarTypeInput.value)"
        class="!border !outline-none px-2 border-primary rounded !h-10">
        <option value="jalali">هجری شمسی | جلالی</option>
        <option value="hijri">هجری قمری</option>
        <option value="gregorian">میلادی | Gregorian</option>
      </select>
    </div>

    <div class="mt-6 flex flex-col gap-2">
      <label class="text-sm">انتخاب حالت تقویم</label>
      <select
              #calendarModeInput
              (change)="onCalendarModeChange(calendarModeInput.value)"
              class="!border !outline-none px-2 border-primary rounded !h-10">
        <option value="normal">Normal</option>
        <option value="datepicker">Datepicker</option>
        <option value="date-range-picker">Date range picker</option>
      </select>
    </div>
  </div>
</div>
